@font-face {
    font-family: "OpenSans" ;
    src: url(../fonts/OpenSans-Regular.woff),
    url(../fonts/OpenSans-Regular.woff2),
    url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff),
    url(../fonts/OpenSans-Bold.woff2),
    url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

body {
    margin: 0 0;
    font-family: "OpenSans";
}

.header {
    display: flex;
    justify-content: center;
    position: relative;

    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #004727;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
}

.header-content {
    width: 1200px;
    z-index: 1;
    padding: 2em 1em 9.5em;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 11em;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-point:not(:last-child){
    margin-right:2.5em;
}

.menu-item {
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Open Sans";
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}

.menu-title {
    display: block;
    margin: 2.6em auto 0;
    width: 60%;
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
}

.trend-topic {
    margin: 2em 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.topic::after {
    content: "";
    display: block;
    margin: auto;
    width: 3em;
    height: 3px;
    margin-top: 0.4em;

    background-color: #e1d9bd;
}

.trend-cards {
    display: flex;
    justify-content: center;
}

.card1{
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-color:#004727;
    background-size: cover;
}
.card2{
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-color:#004727;
    background-size: cover;
}
.card3{
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-color:#004727;
    background-size: cover;
}
.card4{
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-color:#004727;
    background-size: cover;
}

.card-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.card-item {
    width: 25%;
    display: flex;
    align-items: flex-end;
    
    padding: 1.5em 1em;
    position: relative;
    text-align: center;
}

.card-item:not(:last-child) {
    margin-right: 0.2%;
}

.trend-text {
    position: relative;
    padding: 2.5em 2em 2.5em 2em;
    text-align: left;
    border: #b59f5b8c 3px solid;
}

.trend-text span {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.trend-text ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
}

.trend-text li:not(:last-child){
    margin-right:1em;
}

.text-tag {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
}

.text-link{
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: 700;
    font-size: 20px;
}

.main-aside-craft {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3.5em 1em 0;
    width: 1200px;
  }

.main-aside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  .main {
    width: 49em;
  }
  
  .card {
    display: flex;
    margin-bottom: 3.1em;
  }
  
  .card img {
    width: 380px;
  }
  
  .card-info {
    margin-left: 2em;
  }
  
  .card-tag-list {
    display: flex;
    list-style: none;
    margin: 0 0 0.6em 0;
    padding-left: 0;
  }
  .card-tag li:not(:last-child){
    margin-right:1.3em;
  }
  .card-tag a {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    text-decoration: none;
  }
  
  .card-info-link {
    margin: 0px;
    line-height: 24px;
  }
  
  .card-info-link-item {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .data-autor {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.8em;
    margin-top: 1.7em;
  }
  
  .card-data {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
  }
  
  .card-autor {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    margin-left: 1.8em;
  }
  
  .card-desc {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
  }

  .card-desc p{
    margin:0;
  }
  
  .aside {
    width: 17.5em;
  }
  
  .aside-info {
    margin: 0 0 1.8em;
    text-align: center;
    font-size: 14px;
  
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .aside-info::after {
    content: "";
    display: block;
    margin: auto;
    width: 65px;
    height: 3px;
    margin-top: 12px;
  
    background-color: #e1d9bd;
  }
  
  .aside-card {
    display: flex;
    width: 100%;
    margin-bottom: 1.2em;
  }
  .aside-card:last-child{
    padding-bottom: 0;
  }
  
  .aside-image {
    width: 70px;
    height: 70px;
  }
  
  .data-desc {
    margin-left: 1.2em;
  }
  
  .aside-data {
    font-size: 12px;
    color: #878787;
    font-weight: 400;
  }
  .aside-desc {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
  }
  
  .aside-desc-title {
    text-decoration: none;
    color: #0f0d0e;
  }
  
  .search-card {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .search {
    display: flex;
    position: relative;
  }
  
  .search-group {
    width: 100%;
  }

  .search:hover{
    border: 1px solid #b59f5b;
    transition: border 0.3s ease-out;
  }
  
  .field {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 25px;
    padding-right: 60px;
  
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  
    background-color: #f4f7f6;
  }
  
  .search-card button {
    position: absolute;
    margin-left:16.35vw;
  right: 0;
    width: 48px;
    height: 48px;
  
    border: none;
    background-image: url("../svg/search.svg");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #b59f5b;
  }
  

  .aside-info-distr {
    text-align: center;
    font-size: 14px;
    margin: 0 0 1.8em;
  
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .aside-info-distr::after {
    content: "";
    display: block;
    margin: auto;
    width: 65px;
    height: 3px;
    margin-top: 1.1em;
    background-color: #e1d9bd;
  }
  
  .email-card {
    margin-bottom: 4em;
  }
  
  .email-field {
    box-sizing: border-box;
    width:100% ;
    height: 49px;
    padding-top: 0;
    margin-bottom: 1em;
    padding-left: 1em;
  
    border: #f4f7f6;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
  
    background-color: #f4f7f6;
  }

  .email-field:hover{
    border: 1px solid #b59f5b;
    transition: border 0.3s ease-out;
  }
  
  .email-card button {
    width: 100%;
    height: 48px;
    border: solid #b59f5b;
  
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
  
    background-color: #b59f5b;
  }

  .email-card button:hover{
    color:#b59f5b;
    border: 1px solid #b59f5b;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
  }

  .aside-info-theme {
    margin: 0;
    text-align: center;
    font-size: 14px;
  
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .aside-info-theme::after {
    content: "";
    display: block;
    margin: auto;
    width: 65px;
    height: 3px;
    margin-top: 1em;
    background-color: #e1d9bd;
  }
  .tag {
    margin-bottom: 2.4em;
  }
  
  .tags-list {
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
  }
  
  .tags-list-item {
    list-style-type: none;
    margin: 5px 3px;
  }

  .tags-list-item:hover{
    transform: scale(110%);
  transition: background-color 3s, transform 0.5s;
  }
  
  .tags-list-item-name {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    display: block;
    padding: 3px 13px;
    border: 3px solid #eeeeee;
  }
  
  .theme-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .theme-list-item {
    padding-top: 0.9em;
    padding-bottom: 0.7em;
    border-bottom: 2px solid #eee;
  }

  .theme-list-item:hover{
    transform: scale(105%);
    transition: background-color 3s, transform 0.5s;
  }

   .theme-list-item-name {
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
  }

  .span-up {
    position:relative;
    bottom: 0.5em;
    padding-left: 5px;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
  }

  .craft{
    width: 1200px;
  }

  .craft-topic {
    margin: 0 0 2em;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.craft-cards{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.craft-item {
  width: 33%;
}

picture{
  display: flex;
  justify-content: center;
  width: 100%;
}

.craft-text{
  display:block;
  position:relative;
  height: 35%;
  bottom: 2.5em;
  padding: 4em 1em;
  font-size: 15px;
  border: #b59f5b9c solid 3px;
}

.craft-text h4{
  margin: 0;
}

.craft-text-p{
  margin: 1.5em 0 2em;
}

.craft-item-topic a{
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.craft-link{
  color: #b59f5b;
  text-decoration: none;
}

.prices-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-new-price{
  font-weight: 700;
  font-size: 20px;
}

.product-old-price{
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  display: block;
}

.product-button{
  width: 140px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #b59f5b;
  color: #ffffff ;
}

.product-button:hover{
  background-color: #ffffff;
  border: 1px solid #b59f5b;
  color: #b59f5b;
  transition: all 0.3s ease-out;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    width: 1200px;
}

.socials {
    width: 100%;
    padding: 1.2em 0;
    background-color: #f4f7f6;
}

.socials ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.socials-links:not(:last-child){
    margin-right: 1.3em;
}

.social-link {
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    background-color: #f4f7f6;
}

.social-link-dribbble {
    display: block;
    background-image: url(../svg/001-dribbble.svg);
}

.social-link-pinterest {
    display: block;
    background-image: url(../svg/001-pinterest.svg);
}

.social-link-tumblr {
    display: block;
    background-image: url(../svg/003-tumblr.svg);
}

.social-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
    text-decoration: none;
    padding: 5.6em 0px 4.5em;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans";
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(0, 0, 0, 0);
  overflow: hidden;
}

@media (min-width:641px) and (max-width: 1200px) and (orientation:portrait){
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .menu-list{
    width:35px;
    height: 35px;
    background-image: url(../svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-point{
    display: none;
  }
  .menu-title {
    margin: 2.6em auto 0;
    width: 90%;
    font-size: 1.3em;
  }

  .trend-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-item{
    width: calc(50vw - 0.3% - 31px);
    flex-wrap: wrap;
  }

  .card-item:nth-child(2){
    margin-right: 0;
  }
  .card-item:nth-child(2){
    margin-bottom: 0.3%;
  }
  .card-item:nth-child(1){
    margin-bottom: 0.3%;
  }

  .trend-text{
    padding: 2.5em 2em 2em;
  }
  .text-link{
    font-size: 0.7em;
  }

  .main-aside-craft{
    width:auto;
  }

  .main-aside{
    justify-content:space-between;
  }
  .main{
    width: 400px;
  }

  .card{
    width:395px;
    flex-direction: column;
  }
  .card::after{
    content: "";
    display: block;
    margin: auto;
    width: 380px;
    height: 3px;
    margin: 1.2em 0 0 0;
    background-color: #eee;
  }

  .card-info{
    margin: 0;
    width: 380px;
  }

  .search-card button{
    margin-left: 22.5%;
  }

  .craft{
    width: auto;
  }

  .craft-cards{
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .craft-item {
    margin-right: 0;
  }

  .craft-item{
    margin-right: 11.5%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .craft-item:nth-child(1) {
    margin-right: 0;
  }
  .craft-item:nth-child(2) {
    margin-right: 0;
  }
  .craft-item:nth-child(3) {
    margin-right: 0;
  }

  picture{
    width: 100%;
  }

  .footer{
    margin: 0;
    width:calc(100% - 2em);
  }

  .socials{
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (min-width:641px) and (max-width: 1200px) and (orientation:landscape){
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .menu-list{
    width:35px;
    height: 35px;
    background-image: url(../svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-point{
    display: none;
  }
  .menu-title {
    margin: 2.6em auto 0;
    width: 90%;
    font-size: 1.3em;
  }

  .card-item{
    width: calc(22% - 0.2%);
  }

  .trend-text{
    padding: 2.5em 2em 2em;
  }

  .text-link{
    font-size: 0.7em;
  }

  .main-aside-craft{
    width:auto;
  }

  .main-aside{
    justify-content:space-between;
  }
  
  .main{
    width: 400px;
  }

  .card{
    width:395px;
    flex-direction: column;
  }
  .card::after{
    content: "";
    display: block;
    margin: auto;
    width: 380px;
    height: 3px;
    margin: 1.2em 0 0 0;
    background-color: #eee;
  }

  .card-info{
    margin: 0;
    width: 380px;
  }

  .craft{
    width: auto;
  }
  
  .craft-cards{
    width: 85%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
  }

  .craft-item{
    width: 45%;
    display: flex;
    flex-direction: column;
  }

  .craft-item:not(:last-child) {
    margin-right: 0;
  }

  
  .footer{
    margin: 0;
    width:calc(100% - 2em);
  }

  .socials{
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width:640px) and (orientation:portrait){
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .header-content{
    padding: 2em 1em 23em;
  }
  .menu-list{
    width:35px;
    height: 35px;
    background-image: url(../svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-point{
    display: none;
  }

  .header-menu{
    align-items: start;
  }

  .logo{
    display: flex;
    justify-content: space-around;
    position:relative;
    width: 75vw;
    margin: 50% 0 10%;
    top: 100px;
    left: 9.5vw;
  }

  .menu-title {
    margin: 2.6em auto 0;
    width: 90%;
    font-size: 1.3em;
  }

  .trend-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .card-item{
    width: 100%;
    flex-wrap: wrap;
  }

  .card-item:not(:last-child) {
    margin-right: 0;
  }
  .card-item:not(:last-child) {
    margin-bottom: 0.4%;
  }

  .trend-text {
    padding: 1.5em 2em;
  }
  
  .main-aside-craft {
    width: auto;
  }

  .main-aside{
    flex-direction: column;
  }

  .main{
    width: 400px;
  }

  .card{
    width:395px;
    flex-direction: column;
  }
  .card::after{
    content: "";
    display: block;
    margin: auto;
    width: 380px;
    height: 3px;
    margin: 1.2em 0 0 0;
    background-color: #eee;
  }

  .card-info{
    margin: 0;
    width: 380px;
  } 

  .craft-topic {
    margin: 2em 0 2em;
  }

  .aside {
    width: 100%;
  }

  .aside-info{
    font-size: 20px;
  }  

  .aside-desc {
    font-size: 1em;
  }

  .aside-info-distr{
    font-size: 20px;
  }

  .aside-info-theme{
    font-size: 20px;
  }
  
  .tags-list {
    justify-content: center;
  }

  .craft{
    width: auto;
  }
  
  .craft-cards{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .craft-item{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .craft-item:not(:last-child) {
    margin-right: 0;
  }

  .craft-img {
   left: 10vw;
  }

  .footer{
    margin: 0;
    width:calc(100% - 2em);
  }

  .socials{
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (max-width:640px) and (orientation:landscape){
  .header {
    background-image: url("../images/banner-mobile.jpg");
  }

  .menu-list{
    width:35px;
    height: 35px;
    background-image: url(../svg/menu-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .menu-point{
    display: none;
  }

  .header-menu{
    align-items: start;
  }

  .logo{
    display: flex;
    justify-content: space-around;
    position:relative;
    width: 75vw;
    margin-left: 0;
    margin-bottom: 20%;
    top: 100px;
    left: 9.5vw;
  }

  .menu-title {
    margin: 1.6em auto 0;
    width: 90%;
    font-size: 1.3em;
  }

  .trend-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-item{
    width: calc(50vw - 32px - 0.3%);
    flex-wrap: wrap;
  }

  .card-item:nth-child(2) {
    margin-right: 0;
  }
  
  .card-item:nth-child(1){
    margin-bottom: 0.4%;
  }

  .card-item:nth-child(2){
    margin-bottom: 0.4%;
  }


  .trend-text {
    padding: 1.5em 2em;
  }

  .text-link{
    font-size:0.65em;
  }

  .main-aside-craft {
    width: auto;
  }

  .main-aside{
    flex-direction: column;
  }

  .main{
    width: 400px;
  }

  .card{
    width:395px;
    flex-direction: column;
  }
  .card::after{
    content: "";
    display: block;
    margin: auto;
    width: 380px;
    height: 3px;
    margin: 1.2em 0 0 0;
    background-color: #eee;
  }

  .card-info{
    margin: 0;
    width: 380px;
  } 

  .craft-topic {
    margin: 2em 0 2em;
  }

  .aside {
    width: 100%;
  }

  .aside-info{
    font-size: 20px;
  }

  .aside-desc {
    font-size: 1em;
  }

  .aside-info-distr{
    font-size: 20px;
  }

  .aside-info-theme{
    font-size: 20px;
  }

  .tags-list {
    justify-content: center;
  }

  .craft{
    width: auto;
  }
  
  .craft-cards{
    flex-wrap: wrap;
    flex-direction: column;
  }

  .craft-item{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .craft-img {
    left: 6%;
  }

  .footer{
    margin: 0;
    width:calc(100% - 2em);
  }

  .socials{
    margin-left: 1em;
    margin-right: 1em;
  }
}